<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pharmacy</title>
</head>
<body>
<p>
    Client list:
</p>
<ul th:each="client: ${clients}">
    <li th:text="${client.id}" />
    <li th:text="${client.name}" />
    <li th:text="${client.gender}" />
    <ul th:each="transaction: ${client.transactions}">
        <li th:text="${transaction.id}" />
        <li th:text="${transaction.transactionDate}" />
    </ul>
</ul>

</body>
</html>